doctype html
html
    head
        style
            include style.css
    body
        div
            h2 Super Company
            br
        div
            block content
        div.footer
            h2 BEST REGARDS